body {
    background-color: #127681;
}

.painel {
    width: 23em;
    height: 23em;
    align-content: center;
}

.carta {
    background-color: transparent;
    width: 5em;
    height: 5em;
    margin: 5px;
    border-radius: 20px;
    perspective: 1000px;
}

.carta-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.carta.hover .carta-inner {
    transform: rotateY(180deg);
}

.frente, .atras {    
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    padding: 0.5em;
}

.frente {
    background-color: #df0e62;    
    border: 0.1em solid #fac70b;
    transform: rotateY(0deg);
}

.atras {
    background-color: #fac70b;
    border: 0.1em solid #df0e62;
    transform: rotateY(180deg);
}

.fas {
    font-size: 3.5em;
}
